
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet.assets.cache
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet_MarkupCompile.i.cache
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet_MarkupCompile.i.cache
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet.assets.cache
tetrisDotnet/.vs/tetrisDotnet/DesignTimeBuild/.dtbcache.v2
tetrisDotnet/.vs/tetrisDotnet/v16/.suo
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet.assets.cache
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet_MarkupCompile.i.cache
tetrisDotnet/tetrisDotnet/obj/project.assets.json
tetrisDotnet/tetrisDotnet/obj/project.nuget.cache
tetrisDotnet/tetrisDotnet/obj/tetrisDotnet.csproj.nuget.dgspec.json
tetrisDotnet/tetrisDotnet/tetrisDotnet.csproj
