
tetrisDotnet/.vs/tetrisDotnet/DesignTimeBuild/.dtbcache.v2
tetrisDotnet/.vs/tetrisDotnet/v16/.suo
tetrisDotnet/tetrisDotnet/obj/project.assets.json
tetrisDotnet/tetrisDotnet/obj/tetrisDotnet.csproj.nuget.dgspec.json
tetrisDotnet/tetrisDotnet/tetrisDotnet.csproj
*.cache