
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet.assets.cache
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet_MarkupCompile.i.cache
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet_MarkupCompile.i.cache
tetrisDotnet/tetrisDotnet/obj/Debug/netcoreapp3.1/tetrisDotnet.assets.cache
